[submodule "portaudio"]
	path = deps/portaudio
	url = https://git.assembla.com/portaudio.git
[submodule "libaudiodecoder"]
	path = deps/libaudiodecoder
	url = https://github.com/asantoni/libaudiodecoder/
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
